<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Bến xe Đà Nẵng</title>

    <!-- Favicon -->
    <link rel="icon" href="~/images/favicon.png">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="~/Content/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/Content/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/Content/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/Content/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="~/Content/magnific-popup.css">

    <!-- Medipro CSS -->
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/responsive.css">

</head>
<body>

    <!-- Preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>

            <div class="indicator">
                <svg width="16px" height="12px">
                    <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                </svg>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    @RenderBody()
    <!-- Footer Area -->
    <footer id="footer" class="footer ">
        <!-- Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Giới thiệu</h2>
                            <ul style="color: white;">
                                <li style="padding-bottom: 20px; font-size: 15px; font-weight: bold;">CÔNG TY CỔ PHẦN VẬN TẢI VÀ QUẢN LÝ BẾN XE ĐÀ NẴNG</li>
                                <li style="padding-bottom:20px;">Số 97-99 Đường Cao Sơn Pháo, P.Hòa An, Q.Cẩm Lệ, Tp.Đà Nẵng</li>
                                <li style="padding-bottom:20px;">Điện thoại: 02363.767427</li>
                            </ul>
                            <!-- Social -->
                            <ul class="social">
                                <li><a href="#"><i class="icofont-facebook"></i></a></li>
                                <li><a href="#"><i class="icofont-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont-vimeo"></i></a></li>
                                <li><a href="#"><i class="icofont-pinterest"></i></a></li>
                            </ul>
                            <!-- End Social -->
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer f-link">
                            <h2>Truy cập</h2>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-12">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Kết nối doanh nghiệp</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Thông tin chuyến xe</a></li>
                                        <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Phục vụ hành khách</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Giờ làm việc</h2>
                            <ul class="time-sidual">
                                <li class="day">Thứ hai - Thứ sáu <span>5.00-20.00</span></li>
                                <li class="day">Thứ bảy - Chủ nhật <span>7.00-18.00</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="single-footer">
                            <h2>Đánh giá</h2>
                            <p>Vui lòng cho chúng tôi biết đánh giá của bạn.</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="email" placeholder="Địa chỉ Email" class="common-input" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Địa chỉ Email'" required="" type="email">
                                <button class="button"><i class="icofont icofont-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Footer Top -->
    </footer>
    <!--/ End Footer Area -->
    <!-- jquery Min JS -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- jquery Migrate JS -->
    <script src="~/Scripts/jquery-migrate-3.0.0.js"></script>
    <!-- jquery Ui JS -->
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Scripts/easing.js"></script>
    <!-- Color JS -->
    <script src="~/Scripts/colors.js"></script>
    <!-- Popper JS -->
    <script src="~/Scripts/popper.min.js"></script>
    <!-- Bootstrap Datepicker JS -->
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <!-- Jquery Nav JS -->
    <script src="~/Scripts/jquery.nav.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Scripts/slicknav.min.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <!-- Niceselect JS -->
    <script src="~/Scripts/niceselect.js"></script>
    <!-- Tilt Jquery JS -->
    <script src="~/Scripts/tilt.jquery.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Scripts/owl-carousel.js"></script>
    <!-- counterup JS -->
    <script src="~/Scripts/jquery.counterup.min.js"></script>
    <!-- Steller JS -->
    <script src="~/Scripts/steller.js"></script>
    <!-- Wow JS -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Scripts/jquery.magnific-popup.min.js"></script>
    <!-- Counter Up CDN JS -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Main JS -->
    <script src="~/Scripts/main.js"></script>
</body>
</html>